@import "bootstrap";

body {
  font-family: "Inter", sans-serif;
  background-color: rgba(45, 50, 53, 0.986);
}

img {
  width: 48px;
  height: 36px;
}

header {
  background-color: rgb(22, 21, 21);
  padding: 2rem;
  color: white;
  h1 {
    color: gray;
    padding: 0.5rem;
    display: inline-block;
    font-weight: 700;
    strong {
      color: white;
    }
  }
}

table {
  border-radius: 10px;
}

.Btn {
  border-radius: 15px;
  border: 1px solid black;
  margin-right: 5px;
}

.editForm {
  background-color: rgb(22, 21, 21);
  height: 100vh;
  width: 100vh;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  filter: opacity(98%);
  color: white;
  gap: 2rem;
}

.createForm {
  color: white;
}

textarea {
  height: 250px;
}
